Repository open-telemetry/build-tools, pull requests merged in 2021-09, with the labels that each got.

#62 Run & fix linters flake8, pylint, mypy
  .github/workflows/semconvgen.yml
  semantic-conventions/.flake8
  semantic-conventions/.pylintrc
  semantic-conventions/dev-requirements.txt
  semantic-conventions/mypy.ini
  semantic-conventions/setup.py
  semantic-conventions/src/opentelemetry/semconv/main.py
  semantic-conventions/src/opentelemetry/semconv/model/constraints.py
  semantic-conventions/src/opentelemetry/semconv/model/exceptions.py
  semantic-conventions/src/opentelemetry/semconv/model/semantic_attribute.py
  semantic-conventions/src/opentelemetry/semconv/model/semantic_convention.py
  semantic-conventions/src/opentelemetry/semconv/model/utils.py
  semantic-conventions/src/opentelemetry/semconv/templating/code.py
  semantic-conventions/src/opentelemetry/semconv/templating/markdown/__init__.py
  semantic-conventions/src/tests/conftest.py
  semantic-conventions/src/tests/semconv/model/test_correct_parse.py
  semantic-conventions/src/tests/semconv/model/test_error_detection.py
  semantic-conventions/src/tests/semconv/model/test_semantic_convention.py
  semantic-conventions/src/tests/semconv/model/test_utils.py
  semantic-conventions/src/tests/semconv/templating/test_code.py
  semantic-conventions/src/tests/semconv/templating/test_markdown.py
Labels: semconv, cleanup

#64 Validate that enum member IDs are valid
  semantic-conventions/CHANGELOG.md
  semantic-conventions/src/opentelemetry/semconv/model/semantic_attribute.py
  semantic-conventions/src/opentelemetry/semconv/model/utils.py
  semantic-conventions/src/opentelemetry/semconv/version.py
  semantic-conventions/src/tests/data/markdown/deprecated/general.yaml
  semantic-conventions/src/tests/data/markdown/deprecated/http.yaml
  semantic-conventions/src/tests/data/markdown/empty/general.yaml
  semantic-conventions/src/tests/data/markdown/empty/http.yaml
  semantic-conventions/src/tests/data/markdown/empty_table/general.yaml
  semantic-conventions/src/tests/data/markdown/empty_table/http.yaml
  semantic-conventions/src/tests/data/markdown/enum_int/expected.md
  semantic-conventions/src/tests/data/markdown/enum_int/rpc.yaml
  semantic-conventions/src/tests/data/markdown/extend_constraint/general.yaml
  semantic-conventions/src/tests/data/markdown/include/expected.md
  semantic-conventions/src/tests/data/markdown/include/general.yaml
  semantic-conventions/src/tests/data/markdown/include/http.yaml
  semantic-conventions/src/tests/data/markdown/missing_end_tag/general.yaml
  semantic-conventions/src/tests/data/markdown/missing_end_tag/http.yaml
  semantic-conventions/src/tests/data/markdown/multiple/expected.md
  semantic-conventions/src/tests/data/markdown/multiple/general.yaml
  semantic-conventions/src/tests/data/markdown/multiple/http.yaml
  semantic-conventions/src/tests/data/markdown/multiple_enum/expected.md
  semantic-conventions/src/tests/data/markdown/multiple_enum/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_empty/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_empty/http.yaml
  semantic-conventions/src/tests/data/markdown/parameter_full/expected.md
  semantic-conventions/src/tests/data/markdown/parameter_full/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_full/http.yaml
  semantic-conventions/src/tests/data/markdown/parameter_remove_constraint/database.yaml
  semantic-conventions/src/tests/data/markdown/parameter_remove_constraint/expected.md
  semantic-conventions/src/tests/data/markdown/parameter_remove_constraint/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_remove_constraint/input.md
  semantic-conventions/src/tests/data/markdown/parameter_tag/database.yaml
  semantic-conventions/src/tests/data/markdown/parameter_tag/expected.md
  semantic-conventions/src/tests/data/markdown/parameter_tag/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_tag/input.md
  semantic-conventions/src/tests/data/markdown/parameter_tag_empty/database.yaml
  semantic-conventions/src/tests/data/markdown/parameter_tag_empty/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong/http.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong_duplicate/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong_duplicate/http.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong_syntax/general.yaml
  semantic-conventions/src/tests/data/markdown/parameter_wrong_syntax/http.yaml
  semantic-conventions/src/tests/data/markdown/ref/general.yaml
  semantic-conventions/src/tests/data/markdown/ref/http.yaml
  semantic-conventions/src/tests/data/markdown/single/expected.md
  semantic-conventions/src/tests/data/markdown/single/general.yaml
  semantic-conventions/src/tests/data/markdown/single/http.yaml
  semantic-conventions/src/tests/data/markdown/wrong_semconv_id/general.yaml
  semantic-conventions/src/tests/data/markdown/wrong_semconv_id/http.yaml
  semantic-conventions/src/tests/data/yaml/cloud.yaml
  semantic-conventions/src/tests/data/yaml/general.yaml
  semantic-conventions/src/tests/data/yaml/http.yaml
  semantic-conventions/src/tests/semconv/model/test_error_detection.py
Labels: semconv, semconv/model

#68 Support sampling_relevant attributes
  semantic-conventions/CHANGELOG.md
  semantic-conventions/src/opentelemetry/semconv/templating/markdown/__init__.py
  semantic-conventions/src/opentelemetry/semconv/version.py
  semantic-conventions/src/tests/data/markdown/sampling_relevant/expected.md
  semantic-conventions/src/tests/data/markdown/sampling_relevant/general.yaml
  semantic-conventions/src/tests/data/markdown/sampling_relevant/http.yaml
  semantic-conventions/src/tests/data/markdown/sampling_relevant/input.md
  semantic-conventions/src/tests/data/markdown/sampling_relevant/span-general.md
  semantic-conventions/src/tests/semconv/templating/test_markdown.py
  semantic-conventions/syntax.md
Labels: enhancement, semconv, semconv/md

#65 Add test against setting attributes for units.
  semantic-conventions/src/tests/data/yaml/metrics/units_bad_with_attributes.yaml
  semantic-conventions/src/tests/semconv/model/test_semantic_convention_units.py
Labels: semconv, semconv/model, cleanup
